body {
	background-color: #C10A0A;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
footer {
	position:fixed;
	bottom: 00px;
}
h1 {
	color: #ffffff;
	font-family: Drip, Times, serif;
	font-size: 72px;
	-webkit-text-stroke-color: black;
	text-align: center;
}
p {
	color: #ffffff;
	text-decoration: none;
	font-family: Drip;
	font-size: 24px;
}


button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

footer {
	font-family: Drip;
}
@font-face { font-family: mainFont; src: url("Gewtymol.ttf"); } 
@font-face { font-family: Drip; src: url("Drip.ttf"); } 

a {
  color: #ffffff;
  text-decoration: underline;
  font-family: Drip;
  font-size: 24px;
}

.wrapper {
    text-align: center;
}
.imgContainer {
	position:absolute;
	left:0;
	right:0;
	top:0;
	margin:right;
}
.realad {
	position:relative;
	margin:left;
	left: 10%;
}

.content {
	font-family: Drip;
}


.rightlean {
	transform-style: preserve-3d;
	transform: rotate3d(5, 1, 1, 45deg);
	font-family: Drip;
	font-size: 24;
}