textarea {
  resize: none;
}
body {
  background-color: #C10A0A;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.cow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}
footer {
  position:fixed;
  bottom: 00px;
}
h1 {
  font-family: mainFont, Times, serif;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  font-size: 72px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
p {
  color: #ffffff;
  text-decoration: none;
  font-family: mainFont;
  font-size: 24px;
}

@font-face { font-family: mainFont; src: url("Gewtymol.ttf"); } 
a {
  color: #ffffff;
  text-decoration: underline;
  font-family: mainFont;
  font-size: 24px;
}

}
.wrapper {
    text-align: center;
}
.imgContainer {
	width:200px;
	height: 70px;
	position:absolute;
	left: 0;
	right:0;
	margin:left;
}
.realad {

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
