textarea {
  resize: none;
}
body {
  background-image: url("ambush.png");
}

h1 {
  font-family: "Impact", Times, serif;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  font-size: 72px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
p {
  font-family: "Verdana", sans-serif;
  color: #ffffff;
}
button {
  border-style: solid;
  border: 5px;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}