textarea {
  resize: none;
}
body {
  background-image: url("ambush.png");
}

.header {
  padding: 60px;
  text-align: center;
  background: url("sanae.png");
  color: white;
  font-size: 30px;
}

h1 {
  font-family: "Minecraft", Times, serif;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  font-size: 72px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
p {
  color: #ffffff;
  text-decoration: none;
  font-family: "Minecraft";
  font-size: 24px;
}
button {
  color: #157D95;
  font-family: "Minecraft";
  border-style: solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  cursor: default;
  position: fixed;
  bottom: -65px;
  right: -100px;
  
}
}
a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Minecraft";
  font-size: 24px;
}
.wrapper {
    text-align: center;
}